<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>Tags</span></h4>
    <ul>
        {% for category in site.categories %}
        <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="{{site.baseurl}}/categories.html#{{ category[0] | downcase }}" class="
                        text-dark">{{ category[0] }}</a>
                </h6>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>